body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center;  */
  width: 90%;
  color: green;
}

thead>tr {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  color: red;
}


